@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  box-shadow: 0 2px 8px #c5c3c3e0;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  flex: 1;
  font-family: "Monoton", sans-serif;
}

.logo h1 {
  font-weight: 300;
  font-size: 15px;
}

nav.desktop-navbar {
  display: none;
}

div.hamburger-btn {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

div.hamburger-btn span {
  display: block;
  width: 15px;
  height: 1.5px;
  background-color: grey;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  height: 100px;
  background-color: rgb(232, 231, 231);
  box-shadow: 0 2px 4px rgba(64, 63, 63, 0.4);
  padding: 0 1rem;
  color: rgb(234, 141, 3);
  font-family: "Monoton", sans-serif;
  font-size: 6px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: left;
  word-spacing: 5px;
}

.hero img {
  width: 40%;
}
